.comp-user-menu {
    display: flex;
    flex-direction: column;
    width: 335px;
    height: 598px;
    padding: 5px 20px;
    margin: 40px 0px 40px 0px;
    gap: 40px;
    border-right: 2px solid #383838;

    #usericonchange {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    #usericonchange > img {
        width: 100px !important;
        height: 100px;
        border-radius: 100%;
        border: 1px solid;
    }

    #usericonchange h1 {
        font: 30px "Inter";
        font-weight: 500;
        text-align: start;
        padding: 0px 20px;
        width: 150px;
    }

    #usericonchange div {
        display: flex;
        flex-direction: column;
    }

    #usericonchange button {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 100px;
        height: 18px;
        font: 14px "Inter";
        color: #383838;
        border: none;
        outline: none;
        background-color: transparent;
        cursor: pointer;
    }

    #selectbox {
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        cursor: pointer;
    }

    #select {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    #select img {
        width: 55px;
        height: 55px;
        margin-right: 10px;
    }

    #select h1 {
        font: 24px 'Inter';
        font-weight: 400;
        color: #383838;
    }

    .off {
        display: flex;
        flex-direction: column;
        transition: width 0.3s ease, height 0.3s ease, opacity 1s ease;
        opacity: 0;
        height: 0;
        overflow: hidden;
        gap: 5px;
    }

    .off a {
        font: 20px "Inter";
        text-decoration: none;
        color: #000;
        margin-left: 65px;
        transition: 0.3s;
    }

    .off a:hover {
        text-decoration: underline;
        font-size: 22px;
    }

    .show {
        height: 100px;
        opacity: 1;
    }

    .bttt {
        display: flex;
        flex-direction: row;
        align-items: center;
        font: 24px "Inter";
        font-family: 400;
        text-decoration: none;
        color: #383838;
    }

    .bttt img {
        width: 55px;
        height: 55px;
        margin-right: 10px;


}    
@media(max-width: 327px){
    #select h1 {
        font: 15px 'Inter';
        font-weight: 1000;
        margin: 0px 5px;
        color: #383838;
        width: 100px;
    }

}



}

