.main {
    display: flex;
    flex-direction: column;
    width: 215px;
    height: 304px;
    border: 1px solid #6c6c6c;
    padding: 12px 0px 0px 0px;
    
}

.sub {
    width: 188px;
    height: 188px;
    border: 1px solid #d9d9d9;
    align-self: center;


}

#height {
    height: 35px;
}
 
.main p {
    margin-left: 12px;
}

#darktext {
    font: 20px "Inter";
}

#text {
    font: 12px "Inter";
}