.pag-notificacoes {
    display: flex;
    flex-direction: column;
    width: 100vw;

    .corp {
        display: flex;
        flex-direction: row;
    }

    .centro {
        display: flex;
        flex-direction: column;
        margin: 10px 0px ;
        padding: 20px 40px;
        flex-grow: 1;
    }


    
    .comp-user-menu-resp{
        display: none;
    }
}