.pag-notificacoes {
    display: flex;
    flex-direction: column;
    width: 100vw;

    .corp {
        display: flex;
        flex-direction: row;
    }

    .centro {
        display: flex;
        flex-direction: column;
        margin: 10px 0px ;
        padding: 20px 40px;
        flex-grow: 1;
    }

    .bloco{
        display: flex;
        flex-direction: column;
        height: 70vh;
        align-items: center;
        justify-content: space-between;
    }

   #apagar{
        background-color: white;
        font-size:25px;
        padding: 10px  5px;
        align-self: center;
        width: 15vw;
        transition: 0.3s;
        border-radius: 5px;
        outline: none;
        color: rgba(0, 0, 0, 0.658);
        border: 2px solid rgba(0, 0, 0, 0.387);
        cursor: pointer;
   }

   #apagar:hover{
        transform: translateY(-3px);
        box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.387);

   }


@media (max-width: 500px) {
    .corp{
    flex-direction: column;
    
    }

    #apagar{
        background-color: white;
        font-size:5vw;
        padding: 5px;
        width: 40vw;
    }

    .centro .bloco{
        align-items: center;
    }
}
    
    
}