.item{
    display: flex;
    border: 2px black solid;
    padding: 10px;
    margin: 10px 0px;
    align-items: center;
    width: 70vw;
    justify-content: space-between;

    > h1 {
        font: 20px "Inter";
    }

    > p {
        font: 20px "Inter";
    }

    > a {
        font: 15px "Inter";
        color: #000;
        text-decoration: none;
    }

    >:hover {
        text-decoration: underline;
    }

    @media (max-width: 500px) {
        flex-direction: column;
    }
}