.pagina-produto {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;

    .sectionprodu {
        display: flex;
        flex-direction: row;
        margin-top: 30px;
        padding: 0px 20px;
        justify-content: center;
    }



    .imgsinfo {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: 20px;
    }

    .images {
        display: flex;
        flex-direction: row;
    }

    .images div {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        border: 1px solid #333333;
        width: 100px;
        height: 100px;
        border-radius: 5px;
    }

    .images img {
        height: 70px;
    }

    #mainimg {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        border: 1px solid #333333;
        width: 700px;
        height: 451px;
        border-radius: 5px;
        padding: 20px;
        margin-left: 17px;
    }

    #mainimgg {
        height: 440px;
    }

    .separate {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 20px 0px;
    }

    .separate h1 {
        font: 20px "Inter";
        font-weight: 400;
        margin: 0px 24px;
    }

    .separate span {
        width: 300px;
        height: 3px;
        background-color: #3B3B3B;
    }

    .infos {
        display: flex;
        flex-direction: column;
        align-self: flex-start;
    }
    
    .infos p {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        font: 20px "Inter";
        min-width: 280px;
        font-weight: 200;
    }



    .infosgeralprod {
        display: flex;
        flex-direction: column;
    }

    .infosgeralprod h1 {
        font: 24px "Inter";
        font-weight: bold;
        margin: 10px 0px;
    }

    .infosgeralprod h2 {
        width: 440px;
        min-height: 132px;
        font: 16px "Inter";
        font-weight: 200;
    }

    .infosgeralprod h3 {
        font: 32px "Bebas Neue";
        margin-top: 20px;
    }
    

    #cartaoimg {
        width: 29px;
        height: 29px;
        margin-right: 5px;
    }
    
    .buttonsadd {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .buttonsadd button {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        background-color: transparent;
        font: 32px "Inter";
        border: none;
        outline: none;
        width: 40px;
        height: 40px;
        font-weight: 200;
        cursor: pointer;
    }

    .buttonsadd h1 {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        font: 24px "Inter";
        font-weight: 200;
        width: 30px;
        height: 40px;
    }

    #buttoncarrinho {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        background-color: transparent;
        font: 16px "Inter";
        border: 1px solid #959595;
        border-radius: 5px;
        outline: none;
        width: 180px;
        height: 40px;
        font-weight: 200;
        cursor: pointer;
        margin-left: 10px;
    }

    .producao {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
    }

    .producao img {
        width: 22px;
        height: 22px;
    }

    .producao h3 {
        font: 16px "Inter";
        font-weight: 400;
        color: #000;
        margin: 0px;
    }

    .producao p {
        font: 16px "Inter";
        font-weight: 200;
        color: #747474;
    }

    .certificado {
        display: flex;
        flex-direction: column;
        margin: 10px 0px;
    }

    .certificado p {
        font: 16px "Inter";
        font-weight: 200;
        color: #747474;
        width: 380px;
        margin-left: 30px;
    }

    .sugestoes {
        display: flex;
        flex-direction: column;
        align-items: center;
        align-self: center;
        margin: 20px 0px;
    }

    .items {
        display: flex;
        flex-direction: row;
        gap: 20px;   
    }
}