.pag-pagamento{
    width: 100vw;
    
    .conteiner{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 0px;
        a{
            text-decoration: none;
        
        }

        .left_pag{
            width: 62vw;
            margin-left: 20px;

            #h3{
                padding-left: 10px;
                margin-top: 40px;
                margin-bottom: 40px;

            }

            #container1 {
                display: flex;
                flex-direction: column;
                margin-top: 90px;
                padding: 35px;
                border: 1px solid black;
            }

            .endblock {
                display: flex;
                flex-direction: column;
                border: 1px solid #383838;
                background-color: transparent;
                padding: 5px 10px;
                border-radius: 5px;
                width: 320px;
                max-height: 200px;
                margin-bottom: 20px;
                cursor: pointer;
            }
        
            .endblock h1 {
                font: 20px "Inter";
                font-weight: 500;
            }
        
            .endblock h3 {
                font: 14px "Inter";
                font-weight: 500;
                color: #383838;
                margin: 2px 0px;
            }

            .render {
                display: flex;
                flex-direction: column;
                margin-top: 30px;
                height: 0;
                opacity: 0;
                transition: width 0.3s ease, height 0.3s ease, opacity 1s ease;
                overflow-y: scroll;
            }

            .show {
                height: 290px;
                opacity: 1;
            }

            .render::-webkit-scrollbar {
                width: 5px;
            }
              
            .render::-webkit-scrollbar-track {
                background: transparent;
            }
              
            .render::-webkit-scrollbar-thumb {
                background-color: rgb(88, 88, 88);
                border-radius: 20px;
                border: none;
            }

            .endereco{
                display: flex;
                flex-direction: row;
                justify-content: space-between;

                
                .texto{
                    font-size: 16px;
                    font-weight: 200;
                    font-style: inherit;
                };
                
                #botao{
                    color: rgb(0, 133, 255);
                    font-size: 20px;
                    font-style: inherit;
                    background-color: transparent;
                    border: none;
                    cursor: pointer;
                    outline: none;
                }
            }

            .metodo{
                display: flex;
                justify-content: space-between;

                .cart{
                    display: flex;
                }

                #texto{
                    font-size: 16px;
                    font-weight: 200;
                    font-style: inherit;
                };

                #botao{
                    color: rgb(0, 133, 255);
                    font-size: 20px;
                    font-style: inherit;
                    background-color: transparent;
                    border: none;
                    cursor: pointer;
                    outline: none;
                }
            }

            .cartaoblock {
                display: flex;
                flex-direction: column;
                width: 420px;
                min-height: 100px;
                border: 1px solid #404040;
                padding: 10px;
                border-radius: 2px;
                margin-bottom: 20px;
                cursor: pointer;
            }
        
            .cartaoblock > div {
                display: flex;
                flex-direction: row;
            }
        
            #textbox {
                display: flex;
                flex-direction: column;
                margin-left: 20px;
            }
        
            .cartaoblock h1 {
                font: 20px "Inter";
            }
        
            .cartaoblock h3 {
                font: 14px "Inter";
            }


            .Produtos{
                margin: 15px;
                display: flex;
                align-items: center;
                flex-wrap: wrap;
                padding: 20px;
                height: 300px;
                overflow-y: scroll;
                border-radius: 5px;
                border: 1px solid black;
            }

            .Produtos::-webkit-scrollbar {
                width: 8px;
            }
              
            .Produtos::-webkit-scrollbar-track {
                background: transparent;
            }
              
            .Produtos::-webkit-scrollbar-thumb {
                background-color: rgb(88, 88, 88);
                border-radius: 20px;
                border: none;
            }

            .finalizar{
                display: flex;
                padding: 50px;
                margin: 30px 15px;
                border: 1px solid black;
                align-items: center;
                border-radius: 15px;

                h3{
                    padding: 0px 20px;
                }

                #finalizacao{
                    display: flex;
                    padding: 8px 15px;
                    text-decoration: none;
                    color: black;
                    font-size: 20px;
                    border: 1px solid black;
                    border-radius: 15px;
                    cursor: pointer;
                }
            }
        }

        .select {
            display: flex;
            flex-direction: column;
            margin-left: 30px;
        }

        .select label {
            font: 15px "Inter";
            margin-bottom: 10px;
            font-weight: 600;
        }

        .select select {
            background-color: transparent;
            height: 40px;
            width: 200px;
            border-radius: 5px;
            font: 15px "Inter";
            cursor: pointer;
        }

        .right_pag{

            .total{
                display: flex;
                flex-direction: column;
                border: 1px solid black;
                margin-top: 90px;
                width: 30vw;
                border-radius: 15px;
                margin: 90px 20px;


                .finalizar{
                    display: flex;
                    margin: 15px;
                    align-self: center;
                    border-radius: 15px;
    
                    h3{
                        padding: 0px 20px;
                    }
    
                    #finalizacao{
                        display: flex;
                        padding: 8px 15px;
                        text-decoration: none;
                        color: black;
                        font-size: 20px;
                        border: 1px solid black;
                        border-radius: 15px;
                        cursor: pointer;
                    }
                }
    


                #resumo{
                    border-top: 2px solid black;
                    padding: 10px;
                    border-bottom: 2px solid black;
                    display: flex;
                    flex-direction: column;
                    margin: 30px;
                }

                #resumo h3 {
                    font: 20px "Inter";
                }

                .dinheiro{
                    display: flex;
                    margin: 10px 0px;
                    justify-content: space-between;
                    color: #3D3D3D;
                    font: 16px "Inter";
                }

                #total {
                    margin: 30px;
                    font: 16px "Inter";
                }

                #total h4 {
                    font: 15px "Inter";
                }
            }
        }
    }
}

@media(max-width: 500px) {
    .pag-pagamento{
        
        .left_pag {
            width: 100vw;
            display: flex;
            flex-direction: column;
            justify-content: center;

            .endereco{
                width: 90vw;
                display: flex;
                flex-direction: column !important;

            }

            .finalizar{
                width: 90vw;
                border: none;
                display: flex;
                flex-direction: column !important;

            }

            .Produtos{
                justify-self: center;
                width: 70vw;
                align-items: center;
                flex-direction: column;
            }

            .metodo{
                width: 90vw !important;

                display: flex;
                flex-direction: column !important;
            }

            .cart{
                display: flex;
                width: 50px;
                flex-direction: column ;

            }

            .endereco{
                display: flex;
                flex-direction: column !important;
                width: 90vw;
                #texto{
                    width: 400px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;

                    p{
                        font: 12px "inter";
                        

                    }

                }
            }

        }
    
        .right_pag{
            display: none;
            width: 0px;
        }
    }
}