.adm-pagina-pedidos-andamento {
    display: flex;
    flex-direction: row;
    height: 100vh;

    .corp {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        padding: 50px;
    }

    .corp > h1 {
        font: 32px "Bebas Neue";
        color: #3D3D3D;
    }

    #search {
        display: flex;
        flex-direction: row;
        width: 948px;
        height: 40px;
        border: 1px solid #000;
        border-radius: 5px 5px 0px 0px;
        margin-top: 30px;
    }

    #search select{
        text-align: center;
        width: 150px;
        border: none;
        border-right: 1px solid #000000;
        outline: none;
        background-color: #F0F0F0;
        font: 16px "Bebas Neue";
        border-radius: 5px 0px 0px 0px;
    }

    #search input {
        flex-grow: 1;
        border: none;
        outline: none;
        padding: 0px 10px;
        font: 16px "Inter";
        color: #3D3D3D;
    }

    #search button {
        width: 40px;
        background-color: transparent;
        border: none;
        outline: none;
        border-radius: 0px 5px 0px 0px;
        cursor: pointer;
        transition: 0.2s;
    }

    #search button:active {
        transform: translateY(-1px);
    }

    #tabela {
        display: flex;
        flex-direction: column;
        width: 948px;
        height: 450px;
        border: 1px solid;
        margin-top: 50px;
        padding: 5px 0px 0px 0px;
    }

    #tabela h1 {
        font: 20px "Bebas Neue";
        color: #3D3D3D;
        margin: 0px 20px;
    }

    #tabela table {
        border-collapse: collapse;
        width: 100%;
    }

    .tablehead {
        border-top: 1px solid #000;
        border-bottom: 1px solid #000;
        height: 40px;
        margin: 20px 0px;
    }

    .tablehead th {
        font: 20px "Bebas Neue";
    }

    .tablebody {
        height: 100%;
        overflow-y: scroll;
    }
    
    .tablebody tr {
        border-top: 1px solid #000;
        border-bottom: 1px solid #000;
    }

    .tablebody td {
        text-align: center;
        height: 40px;
    }

    .tablebody button {
        background-color: transparent;
        border: none;
        outline: none;
        cursor: pointer;
    }
}