.pagina-adm-central {
    display: flex;
    flex-direction: row;
    width: 100vw;
<<<<<<< HEAD
    color: rgb(199, 199, 199);
=======
    height: 100vh;
>>>>>>> a3931a72b9752d1b08cafc4e0941bb38a623008e
}