.adm-cadastrar-produto {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;

    .corp {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        padding: 50px;
    }

    .corp > h1 {
        font: 32px "Bebas Neue";
        color: #3D3D3D;
    }

    .menus {
        display: flex;
        flex-direction: column;
        align-self: center;
        padding: 30px;
    }

    .menus > div {
        display: flex;
        flex-direction: row;
        gap: 30px;
        margin-top: 10px;
    }

    .blockdiv {
        display: flex;
        flex-direction: column !important;
    }

    .blockdiv select {
        width: 184px;
        height: 35px;
        border-radius: 3px;
        background-color: transparent;
        border: 1px solid #9B9B9B;
        font: 20px "Bebas Neue";
        color: #545454;
    }

    .blockdiv label {
        font: 32px "Bebas neue";
        color: #545454;
    }

    .blockdiv input {
        width: 184px;
        height: 35px;
        border-radius: 3px;
        background-color: transparent;
        border: 1px solid #9B9B9B;
        outline: none;
        font: 20px "bebas neue";
        padding: 0px 15px;
    }

    .blockdiv textarea {
        width: 416px;
        height: 131px;
        resize: none;
        margin-top: -20px;
        padding: 10px;
    }

    #container-imagens {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 400px;
        height: 200px;
        overflow-x: scroll;
    }

    #imagens {
        display: flex;
        flex-direction: row;
        align-self: center;
    }

    #imagens div {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0px 5px;
        width: 110px;
        min-height: 110px;
    }

    #imagens input {
        position: absolute;
        opacity: 0;
        pointer-events: none;
    }
    
    #imagens img {
        width: 88px;
        height: 88px;
        border: 1px solid;
        margin: 10px 0px;
        cursor: pointer;
    }

    #imagens label {
        font: 15px "Inter";
        color: #3D3D3D;
        font-weight: 700;
    }

    #imagens button {
        background-color: transparent;
        border: 1px solid #545454;
        padding: 5px;
        border-radius: 5px;
        outline: none;
        cursor: pointer;
        font: 15px "Inter";
        color: #3D3D3D;
        font-weight: 500;
    }


    #btcadastr {
        width: 165px;
        height: 62px;   
        border-radius: 3px;
        border: none;
        background-color: #707070;
        color: #fff;
        font: 32px "Bebas Neue";
        align-self: center;
        cursor: pointer;
        margin: 20px 0px;
    }
}