.adm-cadastrar-produto {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;

    .corp {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        padding: 50px;
    }

    .menus {
        display: flex;
        flex-direction: column;
        align-self: center;
        padding: 30px;
    }

    .menus > div {
        display: flex;
        flex-direction: row;
        gap: 30px;
        margin-top: 10px;
    }

    .blockdiv {
        display: flex;
        flex-direction: column !important;
    }

    .blockdiv select {
        width: 145px;
        height: 35px;
        border-radius: 3px;
        background-color: transparent;
        border: 1px solid #9B9B9B;
        font: 20px "Bebas Neue";
        color: #545454;
    }

    .blockdiv label {
        font: 32px "Bebas neue";
        color: #545454;
    }

    .blockdiv input {
        width: 184px;
        height: 35px;
        border-radius: 3px;
        background-color: transparent;
        border: 1px solid #9B9B9B;
        outline: none;
        font: 14px "Inter";
        padding: 0px 15px;
    }

    .blockdiv textarea {
        width: 416px;
        height: 131px;
        resize: none;
        margin-top: -20px;
    }

    #btimg {
        width: 189px;
        height: 45px;
        border: 1px solid #9B9B9B;
        border-radius: 3px;
        background-color: transparent;
        color: #545454;
        margin: 30px 0px;
        font: 24px "Bebas Neue";
        cursor: pointer;
    }

    #container-imagens {
        width: 400px;
        overflow-x: scroll;
      }

    #imagens {
        display: flex;
        flex-direction: row;
        align-self: center;
    }
    
    #imagens div {
        width: 88px;
        height: 88px;
        border: 1px solid;
        margin: 0px 5px;
    }

    #btcadastr {
        width: 165px;
        height: 62px;   
        border-radius: 3px;
        border: none;
        background-color: #707070;
        color: #fff;
        font: 32px "Bebas Neue";
        align-self: center;
        cursor: pointer;
        margin: 20px 0px;
    }
}