.pagina-cadastrar-endereco {
    display: flex;
    flex-direction: column;
    width: 100vw;

    .corp {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-grow: 1;
        padding: 40px;
    }

    .inputs {
        display: flex;
        flex-direction: column;
    }

    .inputs div {
        display: flex;
        flex-direction: column;
        margin: 10px 0px;
    }

    .inputs h1 {
        font: 24px "Inter";
        font-weight: 400;
        color: #000;
        margin-bottom: 20px;
    }

    .inputs label {
        margin-bottom: 10px;
        font: 16px "Inter";
        font-weight: 400;
        color: #000;
    }

    .inputs input {
        width: 40vw;
        height: 34px;
        border-radius: 5px;
        border: 1px solid #404040;
        background-color: transparent;
        font: 15px "Inter";
        outline: none;
        padding: 0px 10px;
    }

    .unaltera {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 496px;
        height: 34px;
        border-radius: 5px;
        background-color: #C3C3C3 !important;
        border: 1px solid #404040;
        background-color: transparent;
        font: 1.8px "Inter";
        outline: none;
        padding: 0px 10px;
        text-align: start;
    }

    .unaltera:placeholder-shown{
        text-overflow: ellipsis;
    }

    .inputs select {
        width: 40vw;
        height: 34px;
        border-radius: 5px;
        border: 1px solid #404040;
        background-color: transparent;
        font: 15px "Inter";
        outline: none;
        padding: 0px 10px;
    }

    .inputs button {
        width: 149px;
        height: 44px;
        border-radius: 5px;
        background-color: #404040;
        color: #fff;
        border: none;
        outline: none;
        font: 16px "Inter";
        margin-top: 30px;
        cursor: pointer;
        transition: 0.3s;
    }

    .inputs button:hover {
        background-color: #808080;
    }

    .buttons {
        display: flex;
        flex-direction: row !important;
        justify-content: space-between;
    }

    #btreturn {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        width: 120px;
        height: 44px;
        border-radius: 5px;
        background-color: #404040;
        color: #fff;
        border: none;
        outline: none;
        font: 16px "Inter";
        margin-top: 30px;
        cursor: pointer;
        transition: 0.3s;
    }

    #btreturn:hover {
        background-color: #808080;
    }
    

    @media (max-width: 500px) {
        
        

        .inputs{
            display: flex;
            align-items: center;
        }

        .inputs input{
            display: flex;
            width: 70vw;
        }

        .inputs select{
            width: 70vw;
        }

        .buttons {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;

        }

        .unaltera{
            flex-wrap: wrap;
            
        }
        
    }
}