.pagina-pedidos {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;

    .corp {
        display: flex;
        flex-direction: row;
        width: 100vw;
    }

    #indisp {
        font: 18px "Inter";
        font-weight: 500;
        margin-top: 5px;
    }

    .corp > section {
        display: flex;
        flex-direction: column;
        padding: 20px 40px 0px 40px;
        overflow-y: scroll;
        height: 700px;
        width: 100%;
    }

    .corp > section::-webkit-scrollbar {
        width: 8px;
    }
      
    .corp > section::-webkit-scrollbar-track {
        background: transparent;
    }
      
    .corp > section::-webkit-scrollbar-thumb {
        background-color: rgb(88, 88, 88);
        border-radius: 20px;
        border: none;
    }

    .pedidosbox {
        display: flex;
        flex-direction: row;
        background-color: transparent;
        justify-content: space-around;
        border: 1px solid #3D3D3D;
        border-radius: 3px;
        padding: 10px 20px;
        gap: 10px;
        margin-top: 20px;
    }

    .pedidosbox img {
        width: 100px;
        height: 100px;
        background-color: transparent;
        border: 1px solid #000;
        border-radius: 5px;
    }

    section{
        align-items: center;
    }

    section  h1{
        font-size: 32px;
    }

    .pedidosbox h2 {
        font: 15px "Inter";
        color: #000;
        font-weight: 500;
        width: max-content;
    }

    #nped {
        font: 15px "Inter";
        color: #000;
        font-weight: 500;
        width: 170px;
    }

    .pedidosbox p {
        font: 12px "Inter";
        color: #000;
        max-width: 134px;
        font-weight: 500;
    }

    .pedidosbox a {
        font: 12px "Inter";
        color: #00C2FF;
        font-weight: 500;
        text-decoration: none;
    }

    .pedidosbox a:hover {
        text-decoration: underline;
    }

    .comp-user-menu-resp{display: none;}

    @media (max-width: 500px) {
        .comp-user-menu{
            display: none;
        }

        .comp-user-menu-resp{
            display: block;
        }

        .pedidosbox{
            margin: 10px;
            display: flex;
            flex-direction: column;
            width: 70vw;
        }

        .pedidosbox img{
            width: 60px;
            height: 60px;
        }
    }
}