.pagina-cartoes {
    display: flex;
    flex-direction: column;
    width: 100vw;

    .corp {
        display: flex;
        flex-direction: row;
    }

    .corp > article {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 20px 40px;
        flex-grow: 1;
    }

    .leftside {
        display: flex;
        flex-direction: column;
        overflow-y: scroll;
        height: 598px;
        padding: 0px 10px 0px 0px;
    }

    .leftside::-webkit-scrollbar {
        width: 5px;
    }
      
    .leftside::-webkit-scrollbar-track {
        background: transparent;
    }
      
    .leftside::-webkit-scrollbar-thumb {
        background-color: rgb(88, 88, 88);
        border-radius: 20px;
        border: none;
    }

    .leftside > h1 {
        font: 30px "Inter";
        font-weight: regular;
        margin: 0px 0px 20px 0px;
    }

    .cartaoblock {
        display: flex;
        flex-direction: column;
        width: 420px;
        min-height: 133px;
        border: 1px solid #404040;
        padding: 10px;
        border-radius: 2px;
        margin-bottom: 20px;
    }

    .cartaoblock > div {
        display: flex;
        flex-direction: row;
    }

    #textbox {
        display: flex;
        flex-direction: column;
        margin-left: 20px;
    }

    .cartaoblock h1 {
        font: 20px "Inter";
    }

    .cartaoblock h3 {
        font: 14px "Inter";
    }

    .cartaoblock button {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 17px;
        height: 17px;
        background-color: transparent;
        border: none;
        outline: none;
        cursor: pointer;
        align-self: flex-end;
    }

    .cartaoblock button:hover {
        animation: shake 1s ease-in-out infinite;
    }

    .cartaoblock button:active {
        animation: up 0.3s ease-in-out 1;
    }

    @keyframes shake {
        0% { transform: rotateZ(0); }
        20% { transform: rotateZ(-5deg); }
        40% { transform: rotateZ(5deg); }
        60% { transform: rotateZ(-5deg); }
        80% { transform: rotateZ(5deg); }
        100% { transform: rotateZ(0); }
    }
    @keyframes up {
        0% { transform: translateY(0); }
        20% { transform: translateY(-5px); }
        40% { transform: translateY(5px); }
    }

    .rightside {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        align-items: center;
        margin-left: 20px;
    }

    .rightside > a {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        width: 200px;
        height: 40px;
        border-radius: 3px;
        background-color: transparent;
        font: 20px "Inter";
        color: #383838;
        border: 1px solid #383838;
        outline: none;
        margin: 0px 0px 20px 0px;
        cursor: pointer;
    }

    .cartaoselected  {
        display: flex;
        flex-direction: row;
    }

    .cartaoselected > img {
        height: 132px;
        border-radius: 13px;
        border: none;
        box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.25);
        margin-right: 10px;
    }
    .cartaoselected div {
        display: flex;
        flex-direction: column;
        gap: 10px;
        height: 100%;
        justify-content: center;
    }

    .cartaoselected h1 {
        font: 20px "Inter";
        width: 236px;
    }

    .cartaoselected h3 {
        font: 14px "Inter";
        width: 236px;
    }

    .cartaoselected button {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 18px;
        background-color: transparent;
        color: #4584FF;
        outline: none;
        border: none;
        cursor: pointer;
        text-decoration: none;
    }

    .cartaoselected button:hover {
        text-decoration: underline;
    }
}